[Unit] 
Description=Start x11vnc at startup. 
After=multi-user.target 
 
[Service] 
Type=simple
ExecStartPre=/bin/bash -c 'for dev in /sys/class/drm/card*-HDMI-A-*; do if [ -f "$dev/status" ] && [ "$(cat "$dev/status")" != "connected" ]; then echo "on" > "$dev/status"; fi; done'
ExecStart=/usr/bin/x11vnc -auth guess -forever -loop -capslock -nomodtweak -noxdamage -repeat -rfbauth /etc/.vnc/passwd -rfbport 5900 -shared 
 
[Install] 
WantedBy=multi-user.target
